@media screen and (max-width: 640px) {
	.start {
		width: 310px;
	}
	.start h1{
		font-size: 42px;
	}
	#start-btn{
		padding: 5px 100px;
	}

	form {
		font-size: 15px;
	}

	.battle-field {
		flex-wrap: wrap;
		justify-content: center;
		width: 310px;
	}
	.info p{
	  font-size: 18px;
	}
	.finish{
	  position: absolute;
	  bottom: 75px;
	  font-size: 20px;
	}
	.finish button{
	 background-color: #303030;
 border-radius: 10px;
 padding: 30px;
 font-size: 16px;
 color: white;
 font-weight: bold;
 box-shadow: 0 0 50px black;
	}
}
@media screen and (max-width: 320px){
	.start select{
			float: right;
		 margin: 10px 22px 25px;
	}
}