*{
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
 }
 .container{
	
	margin: 20px auto;
	text-align: center;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;

  
 }
 .chessboard{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 720px;
	
 }
 .chessboard__item{
	 border: 1px solid black;
	 width: 12%;
	 height: 60px;
	 display: flex;
	 align-items: flex-end;
	 justify-content: center;
	 text-align: center;
 }
 .start{
	width: 150px;
	height: 100px;
	font-size: 24px;
	top: 0;
	bottom: 0;
 }
 .horse{
	width: 50px;
	height: 50px;
  background-color: transparent;
  margin-bottom: 1px;
 }
 
 .active{
	border: 3px dashed green;
 }