body{
	position: relative;
  font-family: arial;
  position: relative;
  margin: 0;
}
.container{
  width: 320px;
  padding: 5px;
  margin: 0 auto;
}
#game{
  display: flex;
  flex-direction: row;
}

#board{
  max-width: 208px;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  margin: 0 auto;
  border: 1px solid black;
  
}
.game-info{
  max-width: 100px;
}
.items{
  width: 50px;
  height: 50px;
  margin: 1px;
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
  font-weight: bold;
}
.empty{
	background-color: #fff;
	cursor: default;
	z-index: 1;
}

h1{
  text-align: center;
  margin: 5px 0 5px 0;
}
.steps {
  font-size: 16px;
  text-align: center;
  margin: 1px 2px 1px 0;
}

.win{
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  text-align: center;
  z-index: 5;
  color: black;
  background-color: darkgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 56px;
  font-weight: bold;
}
