table td {
	width: 25px;
	height: 35px;
	border: 1px solid black;
	cursor: default;
}
.squere:hover{
	transform: scale(120%);
	z-index: 2;
	background-color: rgba(136, 255, 0, 0.945);
	transition: .3s;
	cursor: pointer;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

table {
	width: 280px;
	align-self: center;
	border: 3px solid blueviolet;
}

h2 {
	margin: 5px;
}